*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, black, darkred);
    position: relative;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 160px;
    cursor: pointer;
    margin-top: 10px;   
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;  
    transition: 0.4s;
}

ul li a:hover{
    color: red;
}

.info{
    margin-left: 10%;   /* closer to image */
    margin-top: 5%;     /* slightly up */
}

.info h1{
    font-size: 65px;
    color: red;   
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: white;  
}

.info span{
    color: red;
}

.info a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: red;
    margin-top: 20px;
    padding: 10px 18px;
    border-radius: 10px;
    transition: 0.4s;
}

.info a:hover{
    background: darkred;
}

.image{
    width: 30%;
    height: 70%;
    position: absolute;
    right: 60px;     
    bottom: 80px;  
}


.image img{
    height: 100%;
    position: absolute;
    left: 45%;     
    transform: translateX(-50%);
}

.social{
    position: absolute;
    left: 7%;
    bottom: 40px;
}

.social img{
    width: 50px;
    margin-right: 15px;
    cursor: pointer;
}

