*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, black, darkred);
    position: relative;
}

/* NAVBAR */
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 160px;
    cursor: pointer;
    margin-top: 10px;   /* move logo down */
}
/* MENU */
ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;   /* FIXED */
    transition: 0.4s;
}

ul li a:hover{
    color: red;
}

/* INFO */
.info{
    margin-left: 10%;   /* closer to image */
    margin-top: 5%;     /* slightly up */
}

.info h1{
    font-size: 65px;
    color: red;    /* FIXED */
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: white;  /* FIXED */
}

.info span{
    color: red;
}

.info a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: red;
    margin-top: 20px;
    padding: 10px 18px;
    border-radius: 10px;
    transition: 0.4s;
}

.info a:hover{
    background: darkred;
}

/* IMAGE */
.image{
    width: 30%;
    height: 70%;
    position: absolute;
    right: 60px;     /* closer to text (was 100px) */
    bottom: 80px;    /* move image UP */
}


.image img{
    height: 100%;
    position: absolute;
    left: 45%;      /* slightly closer to description */
    transform: translateX(-50%);
}

/* SOCIAL ICONS */
.social{
    position: absolute;
    left: 7%;
    bottom: 40px;
}

.social img{
    width: 50px;
    margin-right: 15px;
    cursor: pointer;
}

